<div class="container py-5">

  <div class="flexContainer">
    <h1 class="titel display-5 fw-bold">Wat kies jij, een trui of de verwarming?</h1>
    <p class="inleiding col-md-8">Gemiddeld twee kinderen in jouw klas zijn arm. Hun ouders maken soms harde keuzes om rond te komen. Wil jij weten hoe het voelt? Doe deze interactieve test. Verwondert het je dat hun hoofd soms niet naar school staat?
    </p>   
    <p class="tekst col-md-8">Stel je even voor dat je alleenstaande ouder bent van twee kinderen (4 en 8 jaar). Je hebt een maandelijks inkomen van € 1400, inclusief voordelen en kindergeld. Je vaste maandelijkse kosten zijn € 840*.
    </p>
  </div>

  <h1 class="titelKeuze display-5 fw-bold">Welke keuzes maak jij?</h1>
  
 <section class="wrapper">
  <div class="card-container">
    <h3>Prijs</h3>
    <img src="../../assets/Vraag01_3maaltijden.png">      
    <div class="keuze">
        <h6>Info keuze</h6>
    </div>
   </div>

   <div class="card-container2">
    <h3>Prijs</h3>
    <img src="../../assets/Vraag01_2maaltijden.png">      
    <div class="keuze">
        <h6>Info keuze</h6>
    </div>
   </div>
  </section>

  <div class="vraagContainer">
    <p>Vraag 1/12</p>
  </div>

 <div class="buttonContainer">
  <button class="button button1">Volgende</button>
  <!-- <button class="button button2">Blue</button> -->
 </div>

</div>

